body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 1080px;
    height: 256px;
    text-align: center;
  }
  
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.styled-text {
    font-size: 86px;
    font-family: 'SBAggroB', sans-serif;
    padding: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #c43030; 
    background-image: linear-gradient(rgb(255, 63, 63), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


