body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 540px;
    height: 256px;
    text-align: center;
  }
  
  @font-face {
    font-family: 'Cafe24Moyamoya-Face-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.styled-text {
    font-size: 86px;
    font-family: 'Cafe24Moyamoya-Face-v1.0', sans-serif;
    padding: 10px;
    -webkit-text-stroke: 2px white;
    background-image: linear-gradient(pink, lightpink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



