body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 540px;
    height: 256px;
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
  @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
  
.styled-text {
      font-size: 86px;
      font-family: 'Black Han Sans', sans-serif;
      padding: 10px;
      color: transparent;
      -webkit-text-stroke: 1px #313131;
      background-image: linear-gradient(rgb(132, 132, 132), rgb(35, 35, 35));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  

