body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 540px;
  height: 256px;
  text-align: center;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.styled-text {
    font-size: 72px;
    font-family: 'NanumSquareRound', sans-serif;
    padding: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #000000; /* 검정색 테두리 */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)); /* 화이트 배경 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}