body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 1080px;
    height: 256px;
    text-align: center;
  }
  
  @font-face {
    font-family: 'Gothic_Goding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.styled-text {
    font-size: 86px;
    font-family: 'Gothic_Goding', sans-serif;
    padding: 10px;
    color: transparent;
    background-image: linear-gradient(rgb(10, 115, 244),rgb(166, 166, 166));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


